{% load i18n %}

<ion-tab-bar slot="bottom" color="light">
    <ion-tab-button
        hx-get="{% url 'tables:floor_view' %}"
        hx-target="#dashboard-content"
        hx-push-url="true"
        {% if current_view == 'floor' %}class="tab-selected"{% endif %}>
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>{% trans "Floor" %}</ion-label>
    </ion-tab-button>

    <ion-tab-button
        hx-get="{% url 'tables:table_list' %}"
        hx-target="#dashboard-content"
        hx-push-url="true"
        {% if current_view == 'tables' %}class="tab-selected"{% endif %}>
        <ion-icon name="cafe-outline"></ion-icon>
        <ion-label>{% trans "Tables" %}</ion-label>
    </ion-tab-button>

    <ion-tab-button
        hx-get="{% url 'tables:area_list' %}"
        hx-target="#dashboard-content"
        hx-push-url="true"
        {% if current_view == 'areas' %}class="tab-selected"{% endif %}>
        <ion-icon name="layers-outline"></ion-icon>
        <ion-label>{% trans "Areas" %}</ion-label>
    </ion-tab-button>

    <ion-tab-button
        hx-get="{% url 'tables:settings' %}"
        hx-target="#dashboard-content"
        hx-push-url="true"
        {% if current_view == 'settings' %}class="tab-selected"{% endif %}>
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>{% trans "Settings" %}</ion-label>
    </ion-tab-button>
</ion-tab-bar>
